<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#commandes" data-parent="#commandes">
            <i class="fa fa-fw fa-tasks"></i>
            <span class="nav-link-text">Liste des commandes</span>
        </a>
        <ul class="sidenav-second-level collapse" id="commandes">
            <li>
                <a href="{{ path('admin_booking') }}">Voir</a>
            </li>
            <li>
        </ul>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#users" data-parent="#users">
            <i class="fa fa-fw fa-users"></i>
            <span class="nav-link-text">Clients</span>
        </a>
        <ul class="sidenav-second-level collapse" id="users">
            <li>
                <a href="{{ path('admin_user') }}">Voir</a>
            </li>
            <li>
        </ul>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#cars" data-parent="#cars">
            <i class="fa fa-fw fa-car"></i>
            <span class="nav-link-text">Nos voitures</span>
        </a>
        <ul class="sidenav-second-level collapse" id="cars">
            <li>
                <a href="{{ path('admin_car') }}">Voir</a>
            </li>
            <li>
                <a href="{{ path('add_car') }}">Ajouter</a>
            </li>
        </ul>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#brands" data-parent="#brands">
            <i class="fa fa-fw fa-navicon"></i>
            <span class="nav-link-text">Nos marques</span>
        </a>
        <ul class="sidenav-second-level collapse" id="brands">
            <li>
                <a href="{{ path('admin_brands') }}">Voir</a>
            </li>
            <li>
                <a href="{{ path('add_brand') }}">Ajouter une marque</a>
            </li>
        </ul>
    </li>

    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#color" data-parent="#color">
            <i class="fa fa-fw fa-pencil"></i>
            <span class="nav-link-text">Couleurs</span>
        </a>
        <ul class="sidenav-second-level collapse" id="color">
            <li>
                <a href="{{ path('admin_couleur') }}">Voir les couleurs</a>
            </li>
            <li>
                <a href="{{ path('add_couleur') }}">Ajouter une couleur</a>
            </li>
        </ul>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#Carburation" data-parent="#Carburation">
            <i class="fa fa-fw fa-fire"></i>
            <span class="nav-link-text">Carburation</span>
        </a>
        <ul class="sidenav-second-level collapse" id="Carburation">
            <li>
                <a href="{{ path('admin_carburation') }}">Voir les carburations</a>
            </li>
            <li>
                <a href="{{ path('add_carburation') }}">Ajouter une carburation</a>
            </li>
        </ul>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#boites" data-parent="#boites">
            <i class="fa fa-fw fa-sitemap"></i>
            <span class="nav-link-text">Boites</span>
        </a>
        <ul class="sidenav-second-level collapse" id="boites">
            <li>
                <a href="{{ path('admin_boite') }}">voir les boites</a>
            </li>
            <li>
                <a href="{{ path('add_boite') }}">Ajouter une boite</a>
            </li>
        </ul>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#state" data-parent="#state">
            <i class="fa fa-fw fa-balance-scale"></i>
            <span class="nav-link-text">Etat</span>
        </a>
        <ul class="sidenav-second-level collapse" id="state">
            <li>
                <a href="{{ path('admin_etat') }}">Voir les états</a>
            </li>
            <li>
                <a href="{{ path('add_etat') }}">Ajouter un état</a>
            </li>
        </ul>
    </li>


</ul>